.nhanVien {
  padding: 0% 1%;
  height: 100%;
  overflow-y: scroll;
  .infoWrap {
    display: flex;
    overflow: auto;
    // height: 40%;
    .left {
      width: 50%;
      margin: 0% 1%;
      overflow: auto;
    }
    .right {
      width: 50%;
      margin: 0% 1%;
      border: 1px solid black;
      .rightTable {
        overflow: auto;
        height: 100%;
      }
    }
  }
  .buttonWrap {
    display: flex;
    align-items: flex-end;
    * {
      margin-left: 1%;
      margin-right: 2%;
    }
    margin: 1% 0%;
  }
  .tableWrap {
    overflow: auto;
    height: 40%;
  }
}
