.nhanVien {
  padding: 1.5% 1.5%;
  height: 100%;
  overflow-y: scroll;
  .infoWrap {
    display: flex;
    overflow: auto;
    .left {
      width: 55%;
      overflow: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .left_image_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 30%;
        margin-top: 3%;
      }
      .left_infor {
        width: 65%;
      }
    }
    .left.isPhone{
      width: 100%;
    }
    .right {
      width: 40%;
      margin: 0% 1%;
      border: 1px solid black;
      height: 23rem;
      .rightTable {
        overflow: auto;
        height: 100%;
        .search_ngay_truc {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2%;
          border-bottom: 1px solid gray;
          span {
            width: 30%;
          }
        }
      }
    }
    .right.isPhone{
      display: none;
    }
  }
  .infoWrap.isPhone{
    flex-direction: column;
  }
  .buttonWrap {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    * {
      margin-right: 2%;
    }
  }
  .tableWrap {
    overflow: auto;
    height: 40%;
  }
}
