.phanMem{
    padding:0 1%; 
    .info{
        width: 50%;
    }
    .searchWrap{
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: flex-end;
    }
}