.phanMem{
    padding:0 1%; 
    height: 100%;
    .info{
        width: 50%;
    }
    .searchWrap{
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: flex-end;
    }
    .tablePhanMem{
        overflow: auto;
        height: 55%;
    }
}