.maytinh {
  height: 100%;
  margin: 0% 1%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .infoWrap {
    height: 45%;
    .content {
      display: flex;
      justify-content: center;
      height: 100%;
      .leftWrap {
        width: 35%;
        margin: 0% 1%;
      }
      .rightWrap {
        width: 65%;
        display: flex;
        .tablePhanMem {
          border: 1px solid rgb(175, 175, 175);
          height: 100%;
          overflow: auto;
        }
        .tableThietBi {
          border: 1px solid rgb(175, 175, 175);
          height: 100%;
          overflow: auto;
        }
      }
    }
  }
  .searchWrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .tableMayTinh {
    height: 50%;
    overflow: auto;
  }
}
