.maytinh {
  height: 100%;
  margin: 0% 1%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .infoWrap {
    height: 45%;
    .content {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      .leftWrap {
        width: 35%;
        margin: 0% 1%;
        overflow: auto;
        .leftWrap_button {
          margin-top: 3%;
          margin-right: 5%;
        }
      }
    }
  }
  .rightWrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 80%;
    .tablePhanMem {
      border: 1px solid rgb(175, 175, 175);
      height: 100%;
      overflow: auto;
      width: 45%;
    }
    .tableThietBi {
      border: 1px solid rgb(175, 175, 175);
      height: 100%;
      overflow: auto;
      width: 45%;
    }
  }
}
