.wrap {
  height: 100%;
  overflow-y: scroll;
}
.maytinh {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  .button {
    display: flex;
    gap:10px;
  }
  .infoWrap {
    height: 45%;
    .content {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      .leftWrap {
        width: 35%;
        overflow: auto;
        .leftWrap_button {
          margin-top: 3%;
          margin-right: 5%;
        }
      }
    }
  }
  .rightWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .tablePhanMem {
      overflow: auto;
      width: 48%;
    }
    .tableThietBi {
      overflow: auto;
      width: 48%;
    }
  }
}
