.infoWrap{
    display: flex;
    height: 370px;
    .left{
        width: 50%;
        .buttonGroup{
            *{
                margin-right: 5%;
                margin-top: 5%;
            }
        }
    }
    .right{
        width: 50%;
        height: 100%;
        overflow: auto;
        padding-left: 2%;
    }
}
.tableWrap{
    height: 300px;
    overflow: auto;
}