.infoWrap{
    display: flex;
    height: 280px;
    .left{
        width: 100%;
        .buttonGroup{
            *{
                margin-right: 5%;
                margin-top: 5%;
            }
        }
    }
}
.tableWrap{
    height: 300px;
    overflow: auto;
}