.infoWrap{
    display: flex;
    height: fit-content;
    .left{
        width: 100%;
        .buttonGroup{
            *{
                margin-right: 5%;
                margin-top: 5%;
            }
        }
        .group_date{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            FormControl{
                width: 50%;
            }
        }
    }
}
.tableWrap{
    height: 300px;
    overflow: auto;
}