.phongMay {
  padding: 0% 1%;
  height: 100%;
  .infoWrap {
    display: flex;
    height: 30%;
    .left {
      width: 50%;
      margin: 0% 1%;
      overflow: auto;
    }
    .right {
      width: 50%;
      margin: 0% 1%;
      border: 1px solid black;
      overflow: auto;
    }
  }
  .centerWrap {
    display: flex;
    width: 100%;
    align-items: flex-end;
    .buttonWrap {
        width: 50%;
        *{
            margin-left: 2%;
            margin-right: 10%;
        }
    }
    .searchWrap{
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }
  }
  .tableWrap {
    overflow: auto;
    height: 50% !important;
  }
}
