.wrap {
  margin: 20px;
  .button {
    display: flex;
    gap:10px;
  }
  .rightWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80%;
    .tablePhanMem {
      height: 100%;
      overflow: auto;
      width: 48%;
    }
    .tableThietBi {
      height: 100%;
      overflow: auto;
      width: 48%;
    }
  }
  .mayTinhInfo {
    margin: 15px 0;
    font-size: 18px;
    font-style: normal;
  }
  .hoatDong {
    color: green
  }
  .hong {
    color: red;
  }
  .baoTri {
    color: rgb(180, 180, 9);
  }
}
