.lichSuSuaChua {
  padding: 0% 1%;
  height: 100%;
  overflow-y: scroll;
  .infoWrap {
    display: flex;
    overflow: auto;
    .left {
      width: 50%;
      margin: 0% 1%;
      overflow: auto;
    }
    .right {
      width: 50%;
      margin: 0% 1%;
      border: 1px solid black;
      height: 16rem;
      .rightTable {
        overflow: auto;
        height: 100%;
      }
      .notes{
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        span{
          display: flex;
          align-items: center;
        }
        .notes_thap::before{
          content: '';
          display: block;
          width: 22px !important;
          height: 10px !important;
          background-color: red;
          margin-right: 1%;
        }
        .notes_cao::before{
          content: '';
          display: block;
          width: 22px !important;
          height: 10px !important;
          background-color: rgba(255, 255, 0, 0.644);
          margin-right: 1%;
        }
        .notes_khac::before{
          content: '';
          display: block;
          width: 22px !important;
          height: 10px !important;
          margin-right: 1%;
          background-color: #1da1f2;
        }
      }
    }
  }
  .searchWrap {
    margin-top: 10px;
    margin: 0% 1%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-end;
  }
  .checkDate.action{
    background-color: red;
    color: white;
  }
  .checkDate.action1{
    background-color: rgba(255, 255, 0, 0.644);
  }
}
