.lichSuSuaChua {
  padding: 0% 1%;
  height: 93%;
  .infoWrap {
    display: flex;
    overflow: auto;
    .left {
      width: 50%;
      margin: 0% 1%;
      overflow: auto;
    }
    .left.isPhone{
      width: 100%;
    }
    .right {
      width: 50%;
      margin: 0% 1%;
      border: 1px solid black;
      height: 14rem;
      .rightTable {
        height:100%;
        overflow: auto;
        // table{
        //   overflow: auto;
        //   height: 90%;
        // }
      }
      .notes{
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        span{
          display: flex;
          align-items: center;
        }
        .notes_thap::before{
          content: '3';
          display: block;
          color: red;
          margin-right: 1%;
          font-weight: bold;
        }
        .notes_cao::before{
          content: '2';
          display: block;
          color: rgba(255, 120, 0, 0.644);
          margin-right: 1%;
          font-weight: bold;
        }
        .notes_khac::before{
          content: '1';
          display: block;
          margin-right: 1%;
          color: #1da1f2;
          font-weight: bold;
        }
        .notes_baoDo::before{
          content: 'A';
          display: block;
          margin-right: 1%;
          padding: 0 5px;
          color: white;
          font-weight: bold;
          background-color: red;
        }
      }
    }
    .right.isPhone{
      width: 100%;
    }
  }
  .infoWrap.isPhone{
    flex-direction: column;
  }
  .searchWrap {
    margin-top: 10px;
    margin: 1% 1%;
    display: flex;
    width: 80%;
    align-items: flex-end;
    *{
      margin-right: 5%;
    }
  }
  .searchWrap.isPhone{
    width: 100%;
  }
  .tableLSL{
    max-height: 60%;
    overflow: auto;
  }
  .tableLSL.isPhone{
    height: 100%;
    overflow: auto;
  }
  .mucDo.actionCao{
    color: red;
    font-weight: bold;
  }
  .mucDo.actionVua{
    color: rgba(255, 120, 0, 0.644);
    font-weight: bold;
  }
  .mucDo.actionThap{
    color: #1da1f2;
    font-weight: bold;
  }
  .checkDate.suaGap{
    background-color: red;
    color: white;
    .mucDo.actionCao{
      color: white !important;
    }
  }

}
