.LayoutMain {
  width: 100%;
  height: 100%;
  .bar {
    height: 8%;
  }
  .tab {
    height: 4%;
    background: rgba(132, 167, 211, 0.8);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap {
    width: 100%;
    height: 92%;
    display: flex;
    .menuContainer {
      width: 15%;
      height: 100%;
      color: white !important;
    }
    .menuContainer.none{
      width: 0;
      display: none;
    }
    .screenContainer {
      width: 85%;
      height: 100%;
      overflow-y: scroll;
      background: white;
      color: black;
    }
    .screenContainer.none{
      width: 100%;
    }
  }
}
