// @font-face {
//     font-family: "Public Sans 700";
//     src: url(../../../public/font/PublicSans-Bold.ttf);
//   }
//   @font-face {
//     font-family: "Public Sans 600";
//     src: url(../../../public/font/PublicSans-SemiBold.ttf);
//   }
//   @font-face {
//     font-family: "Public Sans 400";
//     src: url(../../../public/font/PublicSans-Regular.ttf);
//   }

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: rgb(33, 43, 54);
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Public Sans 400", sans-serif;
  background-color: rgb(255, 255, 255);
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 0px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding-block: 1px;
  padding-inline: 2px;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.login {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: linear-gradient(
        rgba(255, 255, 255, 0.88),
        rgba(255, 255, 255, 0.88)
      )
      center center / cover no-repeat,
    url("../../assets/background/overlay_2.jpg");

  .logo {
    margin: 0px;
    font: inherit;
    color: rgb(0, 167, 111);
    text-decoration: none;
    display: contents;

    .logo__image {
      width: 70px;
      height: 70px;
      display: inline-flex;
      z-index: 9;
      position: absolute;
      @media (min-width: 900px) {
        margin: 40px;
      }
      @media (max-width: 899px) and (min-width: 0px) {
        margin: 16px;
      }
    }
  }
  .content__left {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 80px;
    background: linear-gradient(
          rgba(255, 255, 255, 0.88),
          rgba(255, 255, 255, 0.88)
        )
        center center / cover no-repeat,
      url("../../assets/background/overlay_2.jpg");
    background-position: center center;
    .content__left_title {
      margin: 0px;
      line-height: 1.5;
      font-size: 1.5rem;
      font-family: "Public Sans 700", sans-serif;
      max-width: 480px;
      text-align: center;
      @media (min-width: 1200px) {
        font-size: 2rem;
      }
      @media (max-width: 1199px) and (min-width: 900px) {
        font-size: 1.875rem;
      }
      @media (max-width: 899px) and (min-width: 600px) {
        display: none;
      }
    }
    .content__left_image {
      max-width: 100%;
      display: inline-block;
      vertical-align: bottom;
      @media (min-width: 1200px) {
        max-width: 560px;
      }
      @media (max-width: 1199px) and (min-width: 0px) {
        max-width: 480px;
      }
    }
  }

  .content_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    @media (min-width: 900px) {
      padding: 160px 64px 0px;
    }
    @media (max-width: 899px) and (min-width: 0px) {
      padding: 120px 16px;
    }
    .content_right_form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;
      .form__title {
        margin: 0px;
        line-height: 1.5;
        font-size: 1.25rem;
        font-family: "Public Sans 700", sans-serif;
        @media (min-width: 1200px) {
          font-size: 1.5rem;
        }
        @media (max-width: 1199px) and (min-width: 900px) {
          font-size: 1.5rem;
        }
        @media (max-width: 899px) and (min-width: 600px) {
          font-size: 1.25rem;
        }
      }
      .form__createUser {
        display: flex;
        flex-direction: row;
        gap: 4px;
        .form__askText {
          margin: 0px;
          line-height: 1.57143;
          font-size: 0.875rem;
          font-family: "Public Sans 400", sans-serif;
          font-weight: 400;
        }
        .form__linkText {
          margin-top: 0px;
          line-height: 1.57143;
          font-size: 0.875rem;
          font-family: "Public Sans 600", sans-serif;
          color: rgb(0, 167, 111);
          text-decoration: none;
        }
      }
    }
    .notice_box {
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border-radius: 8px;
      box-shadow: none;
      background-image: none;
      line-height: 1.57143;
      font-size: 0.875rem;
      font-family: "Public Sans 400", sans-serif;
      display: flex;
      padding: 6px 16px;
      color: rgb(0, 55, 104);
      background-color: rgb(202, 253, 245);
      margin-bottom: 24px;
      .notice_icon {
        color: rgb(0, 184, 217);
        margin-right: 12px;
        padding: 7px 0px;
        display: flex;
        font-size: 22px;
        opacity: 1;
      }
      .notice_text {
        padding: 8px 0px;
        min-width: 0px;
        overflow: auto;
      }
    }
    .form_textInput {
      label,
      span {
        font-family: "Public Sans 400", sans-serif !important;
      }
      .form_button {
        background-color: rgb(33, 43, 54);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
          border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }
    }
  }
}
