.wrap{
  height: 100%;
  overflow-y: scroll;
}
.monHoc {
  padding: 0 1% ;
  height: 100%;
  .infoWrap {
    display: flex;
    height: 30%;
    .left {
      width: 50%;
      margin: 0% 1%;
      .buttonWrap {
        margin-top: 4%;
        * {
          margin-left: 1%;
          margin-right: 2%;
        }
      }
    }
    .right {
      width: 50%;
      margin: 0% 1%;
      border: 1px solid black;
      .rightTable {
        overflow: auto;
        height: 100%;
      }
      button {
        margin: 3%;
      }
    }
  }
  
  .tableWrap {
    overflow: auto;
    height: 60% !important;
  }
}
