.monHoc {
  padding: 0 1% ;
  height: 92%;
  .infoWrap {
    display: flex;
    .left {
      width: 50%;
      .buttonWrap {
        margin-top: 4%;
        * {
          margin-right: 2%;
        }
      }
    }
    .left.isPhone{
      width: 100%;
    }
    .right {
      width: 50%;
      border: 1px solid black;
      .rightTable {
        overflow: auto;
        height: 90%;
      }
    }
    .right.isPhone{
      width: 100%;
      margin: 2% 0% !important;
    }
  }
  .infoWrap.isPhone{
    flex-direction: column;
  }
  .tablePhanMem {
    overflow: auto;
    height: 60% !important;
  }
}
